@font-face {
    font-family:"GoogleSansCode";
    src: url(fonts/Google_Sans_Code/GoogleSansCode-VariableFont_wght.ttf);
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;                 
    background-color: #BDBBB6; 
    color: black;
    font-family: "GoogleSansCode";
    font-weight: 400;
    padding: 15px 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* soft shadow for depth */
    z-index: 1000;
}

#navbar a {color:black;}
/* Navbar text*/
#navbar h1 {
    margin: 0;
    font-size: 28px;
    display: inline-block;
}

/* Body content spacing so it’s not hidden under the navbar */
body {
    margin: 0;
    padding-top: 70px; 
    background-color: #036D19;
}


#navbar nav a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

#navbar nav a:hover {
    text-decoration: underline;
}
body {
    margin: 0;
    padding-top: 60px;
}

#intral{color: black; 
    text-align: center;
    font-family: Helvetica, sans-serif;
    padding-top: 20px;}

.imga{height: 150px; 
    width: 150px; 
    top: 50%;
    left:45%;
    transform: translate(-50,-50);
    border-radius: 80px;
    border: 10px solid;
    border-color: #bdbbb6;
    position: absolute;
    
}


.gitimg {
    height: 150px;
    bottom: 0%;
    right: 15px;
    width: 150px; 
    border-radius: 80px;
    border: 10px solid;
    border-radius: 50%;
    border-color: #bdbbb6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 35%;
    
}

    .gitimg img {
        width: 100%;
        height: auto;
        top: 40%;
        left:30%;
        display: block;
    }
.ximg {
    height: 150px;
    bottom: 0%;
    top: 35%;
    left: 55%;
    right: 15px;
    width: 150px; 
    border-radius: 80px;
    border: 10px solid;
    border-radius: 50%;
    border-color: #bdbbb6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

